div {
    height: 200px;
    border: 10px solid black;
    margin-bottom: 30px;
}
p {
    color: white;
}
span {
    color: wheat;
    text-align: center;
}
h1 {
    color: whitesmoke;
    text-emphasis-style: bold;
}
#box1 {
    margin: 30px 100px auto;
    background-color: blueviolet;
    padding: 50px;
}

#box2 {
    margin: 50px 40px;
    background-color: tomato;
    padding: 100px;
}

#box3 {
    margin: 50px 20px 50px;
    background-color: cornflowerblue;
}

#box4 {
    margin: 50px 30px 20px 50px;
    background-color: cadetblue;
}